#-------------------------------------------------------------------------------
# RT-Thread RuiChing
# Copyright (c) Shanghai Real-Thread Electronic Technology Co., Ltd.
# All rights reserved.
#-------------------------------------------------------------------------------
mainmenu "RuiChing APP Project Configure"

orsource 'rt-thread/Kconfig'
