/**
 * RT-Thread RuiChing
 *
 * COPYRIGHT (C) 2024-2025 Shanghai Real-Thread Electronic Technology Co., Ltd.
 * All rights reserved.
 *
 * The license and distribution terms for this file may be
 * found in the file LICENSE in this distribution.
 */
/dts-v1/;
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/suspend/rockchip-rk3506.h>

#include "rk3506.dtsi"

/ {
    model = "RC-Pi-3506 Board";
    compatible = "rc-pi-3506";

    chosen {
        bootargs = "earlycon=uart8250,mmio32,0xff0b0000 console=ttyFIQ0 ubi.mtd=5 root=ubi0:rootfs rw rootfstype=ubifs rootwait snd_aloop.index=7 snd_aloop.use_raw_jiffies=1";
    };

    fiq_debugger: fiq-debugger {
        compatible = "rockchip,fiq-debugger";
        rockchip,serial-id = <1>;
        rockchip,wake-irq = <0>;
        rockchip,irq-mode-enable = <1>;
        rockchip,baudrate = <115200>;	/* Only 115200 and 1500000 */
        interrupts = <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>;
    };
};

&rng {
    status = "okay";
};

&mmc {
    pinctrl = <&gpio3_a0 &gpio3_a1 &gpio3_a2 &gpio3_a3 &gpio3_a4 &gpio3_a5>;
	status = "okay";
};

&fspi {
    status = "okay";

    flash@0 {
        compatible = "spi-nand";
        reg = <0>;
        spi-max-frequency = <80000000>;
        spi-rx-bus-width = <4>;
        spi-tx-bus-width = <1>;
    };
};

&sai0 {
    status = "disabled";
};

&sai1 {
    pinctrl = <&gpio0_b0 &gpio0_b1 &gpio0_b2 &gpio0_b3 &gpio0_b4>;
    status = "disabled";
};

&sai2 {
    status = "disabled";
};

&sai3 {
    status = "disabled";
};

&sai4 {
    status = "disabled";
};

&spdif_tx {
    status = "disabled";
};

&spdif_rx {
    status = "disabled";
};

&pdm {
	status = "disabled";
};

&acdcdig_dsm {
    status = "disabled";
};

&audio_codec {
	status = "disabled";
};

&asrc0 {
	status = "disabled";
};

&asrc1 {
	status = "disabled";
};

&usb20_otg0 {
	status = "disabled";
};

&usb20_otg1 {
	status = "okay";

    usb4g: usb4g@2 {
        compatible = "usb4g,module";
        vendor_id = <0x2c7c>;
        product_id = <0x0120>;

        at_port: at_port@4{
            compatible = "usb4g,at_port";
            match_flags = <0x23>; /* 只通过设备ID、产品ID和 AT 接口号匹配 */
            bInterfaceClass = <0xff>;
            bInterfaceSubClass = <0x00>;
            bInterfaceProtocol = <0x00>;
            bNumInterfaces = <4>; /* USB 转 AT 接口 */
            protocol_switch_cmd = "AT+QCFG=\"usbnet\",1\r\n"; /* USB 切换协议命令 */
        };

        rndis_port: rndis_port@0{
            compatible = "usb4g,rndis_port";
            match_flags = <0x1c>;
            bInterfaceClass = <0xe0>;
            bInterfaceSubClass = <0x01>;
            bInterfaceProtocol = <0x03>;
            bNumInterfaces = <0>;
        };

        ecm_port: ecm_port@2{
            compatible = "usb4g,ecm_port";
            match_flags = <0x1c>;
            bInterfaceClass = <0x2>;
            bInterfaceSubClass = <0x06>;
            bInterfaceProtocol = <0x00>;
            bNumInterfaces = <2>;
        };
    };
};

&usb2phy {
	status = "okay";
};

&vop {
    status = "disabled";
};

&rga2 {
	status = "okay";
};

&dsi {
	status = "disabled";
};

&dsi_dphy {
	status = "disabled";
};

&display_subsystem {
	status = "disabled";
};

&gmac0 {
    /* Use rgmii-rxid mode to disable rx delay inside Soc */
    phy-mode = "rmii";
    clock_in_out = "output";
    snps,reset-gpio = <&tca9534a_gpio 0 GPIO_ACTIVE_LOW>;
    snps,reset-active-low;
    /* Reset time is 20ms, 100ms for rtl8211f */
    snps,reset-delays-us = <0 10000 100000>;
    compatible = "rockchip,rk3506-gmac", "snps,dwmac-4.20a";
    tx_delay = <0x1a>;
    rx_delay = <0x21>;
    phy-handle = <&rmii_phy0>;
    pinctrl = <&gpio2_b6 &gpio2_b7 &gpio2_b3 &gpio2_b4 &gpio2_b5 &gpio2_b0 &gpio2_b1 &gpio2_c0 &gpio2_b2>;
    status = "okay";
};

&gmac1 {
    phy-mode = "rmii";
    clock_in_out = "output";
    snps,reset-gpio = <&tca9534a_gpio 0 GPIO_ACTIVE_LOW>;
    snps,reset-active-low;
    /* Reset time is 20ms, 100ms for rtl8211f */
    snps,reset-delays-us = <0 20000 100000>;
    tx_delay = <0x19>;
    rx_delay = <0x22>;
    phy-handle = <&rgmii_phy1>;
    pinctrl = <&gpio3_b1 &gpio3_b2 &gpio3_b3 &gpio3_a6 &gpio3_a7 &gpio3_b6 &gpio3_b0 &gpio3_b4 &gpio3_b5>;
    status = "okay";
};

&saradc {
	status = "disabled";
};

&tsadc {
	status = "okay";
};

&rktimer {
    status = "okay";
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&spi0 {
    status = "disabled";
};

&spi1 {
    status = "disabled";
};

&pwm0_4ch_0 {
    status = "okay";
};

&pwm0_4ch_1 {
    status = "disabled";
};

&pwm0_4ch_2 {
    pinctrl = <&gpio0_c2>;
    status = "okay";
};

&pwm0_4ch_3 {
	status = "disabled";
};

&pwm1_8ch_0 {
	status = "disabled";
};

&pwm1_8ch_1 {
	status = "disabled";
};

&pwm1_8ch_2 {
	status = "disabled";
};

&pwm1_8ch_3 {
	status = "disabled";
};

&pwm1_8ch_4 {
	status = "disabled";
};

&pwm1_8ch_5 {
	status = "disabled";
};

&pwm1_8ch_6 {
	status = "disabled";
};

&pwm1_8ch_7 {
	status = "disabled";
};

&i2c0 {
    pinctrl = <&gpio0_b6 &gpio0_b7>;
    clock-frequency = <400000>;
    status = "okay";

    hym8563: hym8563@51 {
        compatible = "haoyu,hym8563";
        reg = <0x51>;
        #clock-cells = <0>;
        clock-frequency = <32768>;
        clock-output-names = "hym8563-32k";
    };

    tca9534a_gpio: tca9534a@38 {
        compatible = "ti,tca9534a";
        reg = <0x38>;

        #gpio-cells = <2>;
        gpio-controller;
        gpio-ranges = <&tca9534a_gpio 0 160 8>;
    };
};

&i2c1 {
    pinctrl = <&gpio0_a0 &gpio0_a1>;
    clock-frequency = <400000>;
    status = "okay";
};

&i2c2 {
    status = "disabled";
};

&uart0 {
    pinctrl = <&gpio0_c6 &gpio0_c7>;
    status = "disabled";
};

&uart1 {
    pinctrl = <&gpio0_a2 &gpio0_a3>;
    status = "disabled";
};

&uart2 {
    status = "disabled";
};

&uart3 {
    pinctrl = <&gpio0_a4 &gpio0_a5 &gpio0_a6 &gpio0_a7>;
    status = "okay";
};

&uart4 {
    status = "disable";
};

&uart5 {
    pinctrl = <&gpio1_d1 &gpio1_d2 &gpio1_d3>;
    status = "okay";
};

&rktimer {
    interrupt-affinity = <&cpu0>, <&cpu0>, <&cpu0>, <&cpu2>, <&cpu2>, <&cpu2>;
};

&can0 {
    assigned-clocks = <&cru CLK_CAN0>;
    assigned-clock-rates = <200000000>;
    pinctrl = <&gpio0_c3 &gpio0_c4>;
    status = "okay";
};

&can1 {
    assigned-clocks = <&cru CLK_CAN0>;
    assigned-clock-rates = <200000000>;
    status = "disabled";
};

&flexbus {
	status = "disabled";
};

&dsmc {
    status = "disabled";
};

&dsmc_lb_slave {
    status = "disabled";
};

&cma {
    size = <0x800000>;
};

&rgb {
    status = "okay";
};

&mdio0 {
    rmii_phy0: phy@1 {
        compatible = "ethernet-phy-ieee802.3-c22";
        reg = <0x1>;
        //clocks = <&cru REFCLKO25M_GMAC0_OUT>;
    };
};

&mdio1 {
    rgmii_phy1: phy@1 {
        compatible = "ethernet-phy-ieee802.3-c22";
        reg = <0x1>;
        //clocks = <&cru REFCLKO25M_GMAC1_OUT>;
    };
};

&gpio0_c2 {
	rmio = <0x20>;
	mux = <0x07>;
};

&gpio0_c6 {
    mux = <0x01>;
};

&gpio0_c7 {
    mux = <0x01>;
};

&gpio0_a2 {
    mux = <0x07>;
    rmio = <0x01>;
};

&gpio0_a3 {
    mux = <0x07>;
    rmio = <0x02>;
};

&gpio0_a4 {
    mux = <0x07>;
    rmio = <0x05>;
};

&gpio0_a5 {
    mux = <0x07>;
    rmio = <0x06>;
};

&gpio0_a6 {
    mux = <0x07>;
    rmio = <0x07>;
};

&gpio0_a7 {
    mux = <0x07>;
    rmio = <0x08>;
};

&gpio1_d1 {
    mux = <0x06>;
};

&gpio1_d2 {
    mux = <0x06>;
};

&gpio1_d3 {
    mux = <0x06>;
};

&gpio0_b6 {
    mux = <0x07>;
    rmio = <0x0F>;
    pull-up-down = <0x01>;
};

&gpio0_b7 {
    mux = <0x07>;
    rmio = <0x10>;
    pull-up-down = <0x01>;
};

&gpio0_a0 {
    mux = <0x07>;
    rmio = <0x12>;
};

&gpio0_a1 {
    mux = <0x07>;
    rmio = <0x11>;
};

&gpio0_c3 {
    mux = <0x07>;
    rmio = <28>;
};

&gpio0_c4 {
    mux = <0x07>;
    rmio = <29>;
};

&gpio2_b6 {
    mux = <0x01>;
};

&gpio2_b7 {
    mux = <0x01>;
};

&gpio2_b3 {
    mux = <0x01>;
};

&gpio2_b4 {
    mux = <0x01>;
};

&gpio2_b5 {
    mux = <0x01>;
};

&gpio2_b0 {
    mux = <0x01>;
};

&gpio2_b1 {
    mux = <0x01>;
};

&gpio2_c0 {
    mux = <0x01>;
};

&gpio2_b2 {
    mux = <0x01>;
};

&gpio3_b1 {
    mux = <0x02>;
};

&gpio3_a0 {
    mux = <0x01>;
};

&gpio3_a1 {
    mux = <0x01>;
};

&gpio3_a2 {
    mux = <0x01>;
};

&gpio3_a3 {
    mux = <0x01>;
};

&gpio3_a4 {
    mux = <0x01>;
};

&gpio3_a5 {
    mux = <0x01>;
};

&gpio3_b2 {
    mux = <0x02>;
};

&gpio3_b3 {
    mux = <0x02>;
};

&gpio3_a6 {
    mux = <0x02>;
};

&gpio3_a7 {
    mux = <0x02>;
};

&gpio3_b6 {
    mux = <0x02>;
};

&gpio3_b0 {
    mux = <0x02>;
};

&gpio3_b4 {
    mux = <0x02>;
};

&gpio3_b5 {
    mux = <0x02>;
};

&gpio0_b1 {
    mux = <0x01>;
};

&gpio0_b2 {
    mux = <0x01>;
};

&gpio0_b3 {
    mux = <0x01>;
};

&gpio0_b4 {
    mux = <0x01>;
};

/{
    backlight: backlight {
        compatible = "pwm-backlight";
    };

    vcc3v3_lcd_n: vcc3v3-lcd0-n {
        compatible = "regulator-fixed";
        enable-active-high;
        //gpio = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>;
        regulator-name = "vcc3v3_lcd_n";
        regulator-boot-on;
        regulator-state-mem {
            regulator-off-in-suspend;
        };
    };
};

&dsi {
    status = "okay";
    dsi_panel: panel@0 {
        status = "okay";
        compatible = "simple-panel-dsi";
        reg = <0>;
        backlight = <&backlight>;
        disable-delay-ms = <10>;
        unprepare-delay-ms = <5>;
        width-mm = <154>;
        height-mm = <85>;

        dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
                    MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_NO_EOT_PACKET)>;

        dsi,format = <MIPI_DSI_FMT_RGB888>;
        dsi,lanes  = <2>;

        disp_timings0: display-timings {
            native-mode = <&dsi_timing0>;
            dsi_timing0: timing0 {
            };
        };

        ports {
            #address-cells = <1>;
            #size-cells = <0>;
            port@0 {
                reg = <0>;
                panel_in_dsi: endpoint {
                    remote-endpoint = <&dsi_out_panel>;
                };
            };
        };
    };

    ports {
        #address-cells = <1>;
        #size-cells = <0>;
        port@1 {
            reg = <1>;
            dsi_out_panel: endpoint {
                remote-endpoint = <&panel_in_dsi>;
            };
        };
    };
};

&route_dsi {
    status = "okay";
};

&vop {
    status = "okay";
};

&dsi_dphy {
    status = "okay";
};

&dsi_in_vop {
    status = "okay";
};
