menuconfig PKG_USING_RT_PERF
    bool "rt_perf: RT-Thread Secure Performance"
    default n

if PKG_USING_RT_PERF
    config RT_PERF_TIMER_FREQ
        int "Set Timer Freq(Hz)"
        range 1000000 1000000000
        default 100000000
    
    config RT_PERF_TIMER_BITS
        int "Set Timer Bits"
        range 1 32
        default 32

    menuconfig RT_PERF_EXPORT_CSV_DATA
        bool "Export CSV Data "
        default n
        if RT_PERF_EXPORT_CSV_DATA
            config RT_PERF_EXPORT_CSV_DATA_PATH
                string "File Path"
                default "/mnt"
        endif

    menuconfig RT_PERF_ENABLE_IRQ_LATENCY
        bool "Enable irq latency"
        default n
        if RT_PERF_ENABLE_IRQ_LATENCY
            config RT_PERF_USING_TIMER_NAME
                string "Select timer name"
                default "timer3"
        endif

    choice
        prompt "Version"
        help
            Select the rt_perf version
            default PKG_USING_RT_PERF_V003

        config PKG_USING_RT_PERF_V003
            bool "v0.0.3"
    endchoice

endif
