#-------------------------------------------------------------------------------
# RT-Thread Secure
# Copyright (c) Shanghai Real-Thread Electronic Technology Co., Ltd.
# All rights reserved.
#-------------------------------------------------------------------------------

menuconfig RT_USING_SERVICE
	bool "Enable Kernel Service"
	default n
	help
		Enable Kernel Service support.

#-------------------------------------------------------------------------------
# End
#-------------------------------------------------------------------------------
