
menuconfig PKG_USING_NETUTILS
    bool "netutils: Networking utilities for RT-Thread"
    default n

if PKG_USING_NETUTILS

    config PKG_NETUTILS_IPERF
        bool "Enable iperf-liked network performance tool"
        select RT_USING_LIBC            if RT_VER_NUM < 0x40100
        select RT_USING_SAL             if RT_VER_NUM < 0x40100
        select SAL_USING_POSIX          if RT_VER_NUM < 0x40100
        select RT_USING_POSIX_FS        if RT_VER_NUM >= 0x40100
        select RT_USING_POSIX_SOCKET    if RT_VER_NUM >= 0x40100
        default n

    config IPERF_THREAD_STACK_SIZE
        int "the stack size of iperf thread"
        depends on PKG_NETUTILS_IPERF
        range 2048 65536
        default 16384 if ARCH_CPU_64BIT
        default 2048

    config PKG_NETUTILS_VER
        string
        default "v1.3.3" if PKG_USING_NETUTILS_V133
        default "v1.3.2" if PKG_USING_NETUTILS_V132
        default "v1.3.1" if PKG_USING_NETUTILS_V131
        default "v1.3.0" if PKG_USING_NETUTILS_V130
        default "v1.2.0" if PKG_USING_NETUTILS_V120
        default "v1.1.0" if PKG_USING_NETUTILS_V110
        default "v1.0.0" if PKG_USING_NETUTILS_V100
        default "latest" if PKG_USING_NETUTILS_LATEST_VERSION

    config PKG_NETUTILS_VER_NUM
        hex
        default 0x99999    if PKG_USING_NETUTILS_LATEST_VERSION
        default 0x10303    if PKG_USING_NETUTILS_V133
        default 0x10302    if PKG_USING_NETUTILS_V132
        default 0x10301    if PKG_USING_NETUTILS_V131
        default 0x10300    if PKG_USING_NETUTILS_V130
        default 0x10200    if PKG_USING_NETUTILS_V120
        default 0x10100    if PKG_USING_NETUTILS_V110
        default 0x10000    if PKG_USING_NETUTILS_V100

endif